#main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-body {
  padding: 0.5rem !important;
}

/* footer start */
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 232px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem !important;
  position: absolute;
  bottom: 0;
}
/* footer end */
